img {
  width: 95%;
}

.titleimg {
  width: 25%;
}

strong {
  font-size: 3.5vw;
}

main {
  background-color: bisque;
  text-align: center;
  padding-top: 2%;
}

body {
  font-family: "Trebuchet MS", sans-serif;
}

button {
  height: 25px;
  margin-right: 5px;
  vertical-align: middle;
}

nav {
  text-align: center;
}

h1 {
  text-align: center;
  position: fixed;
  background-color: dodgerblue;
  top: -22px;
  z-index: 1000;
  margin: 20px 0px 0px 0px;
  width: 100%;
  font-size: 2vw;
}

select {
  display: inline;
}

ul {
  padding: 0px;
  margin: 0px;
}

.ReviewElement {
  width: 30%;
  padding: 4px;
  margin: 2px;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-width: 2px;
  background-color: white;
}

#Comments {
  text-align: center;
}

.commentbox {
  width: 80%;
  padding: 5px;
  margin: 5px auto;
  display: block;
  border-style: solid;
  border-width: 2px;
  background-color: white;
  align-items: center;
}

.LoginPage {
  background-color: white;
}

#LoginDetails {
  background-color: #e8e8e8;
  z-index: 2000;
  width: 50%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 20px;
  align-items: center;
  padding-bottom: 2px;
  padding-top: 2px;
}

.ErrorPage {
  text-align: center;
  padding: 5vw 37vw 5vw 37vw;
  color: red;
}

.ErrorMessage {
  color: red;
}

.ErrorImg {
  width: 25vw;
}

[hidden] {
  display: none !important;
}

#loadingimage {
  width: 50vw;
  padding: 5vw 25vw;
}

#LoadingMessage {
  text-align: center;
  font-size: 5vw;
  color: red;
  padding: 5vw 37vw 55vw 37vw;
}

@media only screen and (max-width: 600px) {
  .ReviewElement {
    width: 95%;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    margin: 2px;
  }
  button {
    height: 20px;
    width: 30%;
    vertical-align: auto;
  }

  img {
    width: 100%;
  }
  #Reviews {
    position: absolute;
  }

  h1 {
    font-size: 3vw;
    top: -20px;
  }
  main {
    padding-top: 10%;
  }
  .ErrorPage {
    text-align: center;
    padding: 15vw 37vw 5vw 37vw;
    color: red;
  }
}

body {
  position: absolute;
  padding-top: 14%;
}

label {
  display: block;
  margin: 0px 0px 15px 0px;
}

input {
  box-sizing: border-box;
  border: 1px solid #c2c2c2;
  box-shadow: 1px 1px 4px #ebebeb;
  border-radius: 3px;
  padding: 7px;
  outline: none;
}

nav {
  color: red;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: red;
}

a:active {
  text-decoration: none;
}
