img {
    width:95%
}

.titleimg{
    width:25%
}

body {
    font-family: 'Trebuchet MS', sans-serif;
}

button {
    height:25px;
    margin-right: 5px;

}


nav {
    text-align: center;
}

h1 {
    text-align: center;
    position: fixed;
    background-color:dodgerblue;
    top:-22px;
    z-index:1000
}

select {
    display: block
}

.ReviewElement {
    width: 31%;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    vertical-align: top;
    border-style: solid ;
    border-width: 2px;

}

.commentbox {
    width: 31%;
    padding: 5px;
    margin: 5px;
    display:block;
    border-style: solid ;
    border-width: 2px;

}

#LoginDetails {
    background-color: red;
    z-index: 2000;
}


@media only screen and (max-width: 600px){
    .ReviewElement {
        width: 95%;
        padding: 10px;
        display: inline-block;
        vertical-align: top;
    
    }
    button {
        height:50px;
        width: 20%
    }
    img {
        width:100%
    }

    h1{
        padding-top: px;
        font-size:20px;
        top:-20px;
    }


}

body {
    position: relative;
    top: 300px;
}


form {
    margin: 0px 0px 0px 20px
}

label{
	display: block;
	margin: 0px 0px 15px 0px;
}

input {
	box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	padding: 7px;
	outline: none;
}

nav {
    color: red;
}

a:link { text-decoration: none; 
    
}


a:visited { text-decoration: none; 
    color: black;
}


a:hover { text-decoration: none;
    color: red;}


a:active { text-decoration: none;
  }

